<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Todo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <h1 class="mb-4">Add Todo</h1>

    <form th:action="@{/save}" method="post" th:object="${todo}">
        <div class="form-group">
            <label>Content</label>
            <input type="text" class="form-control" th:field="*{content}" placeholder="Enter todo content">
            <p class="text-danger mt-1" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
        </div>

        <div class="form-group">
            <label>Due Date</label>
            <input type="date" class="form-control" th:field="*{dueDate}">
            <p class="text-danger mt-1" th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></p>
        </div>

        <div class="form-group">
            <label>Status</label>
            <select class="form-control" th:field="*{status}">
                <option th:value="false">Chua hoan thanh</option>
                <option th:value="true">Hoan thanh</option>
            </select>
        </div>

        <div class="form-group">
            <label>Priority</label>
            <select class="form-control" th:field="*{priority}">
                <option th:value="${T(com.example.personal_todo_app.model.Priority).HIGH}">High</option>
                <option th:value="${T(com.example.personal_todo_app.model.Priority).MEDIUM}">Medium</option>
                <option th:value="${T(com.example.personal_todo_app.model.Priority).LOW}">Low</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>
